<table class="table table-striped table-responsive card-app">
    <thead>
        <tr>
            <th scope="col" class="w30">Username</th>
            <th scope="col" class="w17-5">Age</th>
            <th scope="col" class="w17-5">Job name</th>
            <th scope="col" class="w17-5">Date/Create</th>
            <th scope="col" class="w17-5">Date/Update</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of data | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: data?.length }; let i = index">
            <td class="username">{{ emp.username_usu }}</td>
            <td>{{ emp.age_usu }}</td>
            <td>{{ emp.position_usu }}</td>
            <td>{{ FormatDate(emp.date_create) }}</td>
            <td>{{ emp.date_create === emp.date_update ? 'Not modified' : FormatDate(emp.date_update) }}</td>
            <td>
                <div class="boxOptions">
                    <span (click)="_update(emp)" class="item fa fa-pencil"></span>
                    <span *ngIf="textButton === 'Update'" class="item fa fa-trash _grey"></span>
                    <span *ngIf="textButton != 'Update'" (click)="_delete(emp)" class="item fa fa-trash"></span>
                </div>
            </td>
        </tr>
        <tr *ngIf="!data?.length">
            <td colspan="6" class="text-center msg"><span class="fa fa-info-circle"></span> Employees not found...</td>
        </tr>
    </tbody>

    <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
</table>