.input-app {
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0 0 1rem;
}

.input-app .label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: max-content;
    font-size: .95rem;
    color: var(--text-color-alt);
    padding: 0;
    margin: 0 0 .25rem;
}

.input-app .label i {
    --radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .95rem;
    width: 20px;
    height: 20px;
    color: var(--first-color);
    background: transparent;
    border-radius: var(--radius);
    margin-left: .15rem;
    cursor: pointer;
}

.input-app .input-app__input {
    --h-input: 38px;
    --radius: 5px;
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-app .input-app__input input, .input-app .input-app__input select {
    width: 100%;
    height: var(--h-input);
    line-height: var(--h-input);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0 1rem;
}

.input-app .input-app__input .input-label {
    display: inline-block;
    background: var(--first-color);
    color: var(--white-color);
    width: max-content;
    height: var(--h-input);
    line-height: var(--h-input);
    border: 1px solid var(--first-color);
    padding: 0 .5rem;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    margin: 0;
}

.input-app .input-app__input .input-label ~ input, .input-app .input-app__input .input-label ~ select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-app .input-app__input--password input {
    padding-right: 3rem;
}

.input-app .input-app__input input:hover:active:focus, .input-app .input-app__input select:hover:active:focus {
    border: 1px solid var(--border-color);
    box-shadow: none;
    outline: none;
}

.input-app .input-app__input--password .icon-eyes {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    color: var(--text-color-alt);
    font-size: 1.3rem;
    z-index: var(--z-normal);
}

.input-app .input-app__input--phone input {
    padding-left: 5.5rem;
}

.input-app .input-app__input--phone .Widget--Flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    padding: 0 .5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: var(--z-normal);
}

.input-app .input-app__input--phone .Widget--Flag img {
    display: block;
    margin: 0 .25rem 0 0;
    padding: 0;
    height: 30px;
    object-fit: cover;
    object-position: center center;
}

.input-app .input-app__input--phone .Widget--Flag p {
    margin: 0;
    padding: 0;
    font-size: .95rem;
    color: var(--text-color);
}

.input-app.input-app--checkbox input[type="checkbox"] {
    display: none;
}

.input-app.input-app--checkbox {
    user-select: none !important;
}

.input-app.input-app--checkbox .label-checkbox p { margin: 0; }

.input-app.input-app--checkbox .label-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 18px;
    line-height: 1;
    background: transparent;
    font-size: .85rem;
    color: var(--text-color);
    margin: 0;
}

.input-app.input-app--checkbox .label-checkbox .click {
    color: var(--first-color);
    font-weight: bold;
    margin-left: .25rem;
    cursor: pointer;
}

.input-app.input-app--checkbox .label-checkbox .checkbox {
    --radius: 3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    transition: all .15s ease-in-out;
    margin-right: .5rem;
    cursor: pointer;
}

.input-app.input-app--checkbox input[type="checkbox"]:checked ~ .label-checkbox .checkbox {
    background: var(--first-color);
    border-color: var(--first-color);
}

.input-app:last-child {
    margin: 0;
}