<div class="row">
    <div class="col-10 offset-1">
        <h2 class="title">Employees</h2>
    </div>
    <div class="col-10 offset-1">
        <form #EmployeeForm="ngForm" (ngSubmit)="AddEmployee(EmployeeForm)" class="card-app">
            <div class="row">
                <div class="col-12 col-md-4">
                    <input *ngIf="textButton === 'Update'" type="hidden" id="id_usu" name="id_usu" #idusu="ngModel" [(ngModel)]="employeeService.SelectedEmployee.id_usu">
                    <div class="form-group">
                        <label for="username_usu">Username</label>
                        <input type="text" class="form-control" id="username_usu" name="username_usu" #usernameusu="ngModel" [(ngModel)]="employeeService.SelectedEmployee.username_usu" autocomplete="off" placeholder="...">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label for="age_usu">Age</label>
                        <input type="text" maxlength="2" class="form-control" id="age_usu" name="age_usu" #ageusu="ngModel" [(ngModel)]="employeeService.SelectedEmployee.age_usu" autocomplete="off" placeholder="...">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label for="position_usu">Job name</label>
                        <input type="text" class="form-control" id="position_usu" name="position_usu" #positionusu="ngModel" [(ngModel)]="employeeService.SelectedEmployee.position_usu" autocomplete="off" placeholder="...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn-app btn-app--aceptar" [disabled]="btnDisabled">{{ textButton }}</button>
                    <button *ngIf="textButton === 'Save'" type="button" class="btn-app btn-app--cancelar" (click)="clearForm(EmployeeForm)">Clean</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-10 offset-1">
        <div class="card-app filter-table">
            <input #searchEmployee (change)="EmployeeSearch(searchEmployee.value)" (keyup.enter)="EmployeeSearch(searchEmployee.value)" type="text" class="form-control" placeholder="Seach employee...">
            <button (click)="EmployeeSearch(searchEmployee.value)" type="button" class="btn-app btn-app--aceptar">Search</button>
        </div>
    </div>
    <div class="col-10 offset-1">
        <app-table (DataSelectedUpdate)="UpdateEmployee($event)" (DataSelectedDelete)="DeleteEmployee($event)" [data]="listEmp" [textButton]="textButton"></app-table>
    </div>
</div>